<div class="main-cont">
  <div class="portfolio-cont">
    <div class="content">
      <h3>Spring 2010</h3>
      <ul class="inspo">
        <li>
          <img class="photo" src="/img/parsons-ss10/website1.jpg"></img>
        </li>
      </ul>
    </div>
  </div>
  <% include ../scroll-button.ejs %>
</div>
