<% include video.ejs %>

<div class="main-cont">
  <div class="empty-cont"></div>
  <div class="about-cont">
    <div class="content">
      <p>
        Born in China, raised in Canada and worked in London, I am a fashion designer with a minimalist eye currently based in New York City. Growing up in my Grandfather’s artist studio, I have developed a keen interest in colours and forms.
      </p>
      <p>
        After receiving my BFA from Parsons the New School for Design in New York, I went on working for Alexander Wang, Peter Som, Calvin Klein and the Gap before moving to London to design for PAPER London.
      </p>
    </div>
  </div>

  <div id="main-page-portfolio" class="portfolio-cont">
    <div class="content">
      <h3>Work</h3>
      <ul class="inspo-left-col">
        <!-- Paper london AW15 Video -->
        <li>
          <a href="https://www.youtube.com/watch?v=ZTlk-UvVXqE" target="_blank">
            <h3 class="info">Paper London AW 2015 Runway Show</h3>
              <img class="photo-thumb" src="/img/main-page/AW15_VIDEO.jpg"></img>
          </a>
        </li>
        <!-- Paper london SS15 -->
        <li>
          <a href="/paper-london/ss15">
            <h3 class="info">Paper London SS 2015</h3>
              <img class="photo-thumb" src="/img/main-page/SS15.jpg"></img>
          </a>
        </li>
        <!-- Paper london AW15 Iphone -->
        <li>
          <a href="/paper-london/aw15-phone">
            <h3 class="info">Paper London AW 2015 Iphone Case</h3>
              <img class="photo-thumb" src="/img/main-page/IPHONE_SS15.jpg"></img>
          </a>
        </li>
        <!-- Paper london AW14 -->
        <li>
          <a href="/paper-london/aw14">
            <h3 class="info">Paper London AW 2014</h3>
              <img class="photo-thumb" src="/img/main-page/AW14.jpg"></img>
          </a>
        </li>
        <!-- Parsons Fall 2010 -->
        <li>
          <a href="/parsons/aw10">
            <h3 class="info">Parsons Pre Fall 2010</h3>
              <img class="photo-thumb" src="/img/main-page/PRE_FALL10.jpg"></img>
          </a>
        </li>
      </ul>


      <ul class="inspo-right-col">
        <!-- Paper london AW15 -->
        <li>
          <a href="/paper-london/aw15">
            <h3 class="info">Paper London AW 2015</h3>
              <img class="photo-thumb" src="/img/main-page/AW15_COLLECTION.jpg"></img>
          </a>
        </li>
        <!-- Paper london RESORT 15 -->
        <li>
          <a href="/paper-london/resort15">
            <h3 class="info">Paper London Resort 2015</h3>
              <img id="resort15" class="photo-thumb" src="/img/main-page/R15.jpg"></img>
              <img id="resort15-small" class="photo-thumb" src="/img/main-page/R15_small.jpg"></img>
          </a>
        </li>
        <!-- Paper london AW14 Iphone -->
        <li>
          <a href="/paper-london/aw14-phone">
            <h3 class="info">Paper AW 2014 Iphone Case</h3>
              <img id="iphoneAW14" class="photo-thumb" src="/img/main-page/IPHONE_AW14.jpg"></img>
              <img id="iphoneAW14-small" class="photo-thumb" src="/img/main-page/IPHONE_AW14_small.jpg"></img>
          </a>
        </li>
        <!-- Paper london SS14 -->
        <li>
          <a href="/paper-london/ss14">
            <h3 class="info">Paper London SS 2014</h3>
              <img class="photo-thumb" src="/img/main-page/SS14.jpg"></img>
          </a>
        </li>
        <!-- Parsons Spring 2010 -->
        <li>
          <a href="/parsons/ss10">
            <h3 class="info">Parsons Spring 2010</h3>
              <img class="photo-thumb" src="/img/main-page/SS10.jpg"></img>
          </a>
        </li>


      </ul>
    </div>
  </div>
  <% include scroll-button.ejs %>
</div>
