<% include video.ejs %>

<div class="main-cont">
  <div class="empty-cont"></div>
  <div class="about-cont">
    <div class="content">
      <p>
        Born in China and raised in Vancouver, I am a fashion designer with a minimalist eye currently based in New York City. With a degree in fashion design from Parsons School of Fashion, I am highly capable of designing and executing a multitude of styles in womens fashion.
      </p>
      <p>
        Recently, I've worked on a collection for Paper London, a London based brand that fdjsak;fjd;asfjl;dsfdsfjdasfkds.
      </p>
    </div>
  </div>

  <div class="portfolio-cont">
    <div class="content">
      <h3>Work</h3>
      <ul class="inspo">
        <!-- Paper london AW15 -->
        <li>
          <a href="/paper-london/aw15">
              <img class="photo-thumb" src="img/paper-london-aw15/thumbs/PAPER_01_035_thumb.jpg"></img>

          </a>
        </li>
        <!-- Paper london RESORT 15 -->
        <li>
          <a href="/paper-london/resort15">
              <img class="photo-thumb" src="img/paper-london-aw15/thumbs/PAPER_01_035_thumb.jpg"></img>

          </a>
        </li>
        <!-- Paper london SS15 -->
        <li>
          <a href="/paper-london/ss15">
              <img class="photo-thumb" src="img/paper-london-aw15/thumbs/PAPER_01_035_thumb.jpg"></img>

          </a>
        </li>
        <!-- Paper london AW14 -->
        <li>
          <a href="/paper-london/aw14">
              <img class="photo-thumb" src="img/paper-london-aw15/thumbs/PAPER_01_035_thumb.jpg"></img>

          </a>
        </li>
        <!-- Paper london SS14 -->
        <li>
          <a href="/paper-london/ss14">
              <img class="photo-thumb" src="img/paper-london-aw15/thumbs/PAPER_01_035_thumb.jpg"></img>

          </a>
        </li>
        <!-- Parsons Fall 2010 -->
        <li>
          <a href="/parsons/aw10">
              <img class="photo-thumb" src="img/paper-london-aw15/thumbs/PAPER_01_035_thumb.jpg"></img>

          </a>
        </li>
        <!-- Parsons Spring 2010 -->
        <li>
          <a href="/parsons/ss10">
              <img class="photo-thumb" src="img/paper-london-aw15/thumbs/PAPER_01_035_thumb.jpg"></img>

          </a>
        </li>
        <!-- Other Designs -->
        <li>
          <a href="/paper-london/products">
              <img class="photo-thumb" src="img/paper-london-aw15/thumbs/PAPER_01_035_thumb.jpg"></img>

          </a>
        </li>


      </ul>
    </div>
  </div>
  <% include scroll-button.ejs %>
</div>
