<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Isabel QZ Chen</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400italic|Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/style.css" charset="utf-8">
  	<link rel="stylesheet" href="/styles/modal.css" type="text/css">
  </head>
  <body>
    <!--~~~~~~~ Runway Show Modal ~~~~~~~-->
    <div class="md-modal md-effect-1" id="aw15-video">
      <div id="video" class="md-content">
          <iframe width="800" height="450" src="https://www.youtube.com/embed/ZTlk-UvVXqE?enablejsapi=1" frameborder="0" allowfullscreen></iframe>

          <div class="close-button md-close" onclick="toggleVideo('hide');">
            <span></span>
            <span></span>
          </div>
      </div>
    </div>

    <div class="app-cont">
      <div class="border top"></div>
      <div class="border left"></div>
      <div class="border right"></div>
      <div class="border bottom"></div>
      <header>
        <a id="logo-button" href="/">
          <h2>QZ</h2>
        </a>
        <div id="hamburger-button">
          <span></span>
          <span></span>
          <span></span>
        </div>
          <div id="menu-wrapper">
            <ul id="menu">
                <% include menu.ejs %>
            </ul>
          </div>
      </header>

      <div class="white-background"></div>

      <%- body %>

    </div>
    <div class="md-overlay" onclick="toggleVideo('hide');"></div>

    <footer class="contact-cont">
      <h4>contact me</h4>
      <ul>
        <li><a href="mailto:isabelqzchen@gmail.com">isabelqzchen@gmail.com</a></li>
        <li><a href="https://www.linkedin.com/in/isabelqzchen">LinkedIn</a></li>
      </ul>
      <span>© 2015 ISABEL QZ CHEN. ALL RIGHTS RESERVED</span>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/classManager.js"></script>
    <script type="text/javascript" src="/scripts/libs/modalEffects.js"></script>
    <script type="text/javascript" src="/scripts/libs/cssParser.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
