<% if (mainPage) { %>
  <li id="about">ABOUT</li>
  <li id="portfolio">WORK</li>
  <li id="contact">CONTACT</li>
<% } else { %>
  <li><a href="/">HOME</a></li>
  <li id="contact">CONTACT</li>
<% } %>
