<video autoplay loop id="bgvid">
  <source src="videos/paper-london-background.mp4" type="video/mp4">
</video>

<div class="header-cont">
  <div class="content">
    <h2>Isabel QZ Chen</h2>
    <h3>
      Designs in a White Room
    </h3>
  </div>
</div>
