<div class="main-cont">
  <div class="portfolio-cont">
    <div class="content">
      <h3>Watercolour</h3>
      <ul class="work paintings">
        <li>
          <img class="photo" src="/img/paintings/FullSizeRender_0.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paintings/FullSizeRender_1.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paintings/FullSizeRender_2.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paintings/FullSizeRender_3.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paintings/FullSizeRender_4.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paintings/FullSizeRender_5.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paintings/FullSizeRender_6.jpg"></img>
        </li>
      </ul>
    </div>
  </div>
  <% include ../scroll-button.ejs %>
</div>
