@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic|Lato:400,300,700);
* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 24px;
}

html {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  /*height: 40px;*/
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

div.border {
  position: fixed;
  z-index: 10;
  background-color: #F3F3F3;
}

div.top, div.bottom {
  width: 100%;
  height: 24px;
  left: 0;
}

div.left, div.right {
  width: 24px;
  height: 100vh;
  top: 0;
}

div.top {
  top: 0;
}

div.bottom {
  bottom: 0;
}

div.right {
  right: 0;
}

div.left {
  left: 0;
}

/*<><><><> App Container <><><><>*/
div.app-cont {
  background-color: white;
  padding: 45px 45px 0;
  overflow: hidden;
}

/*<><><><> About Container <><><><>*/
div.main-cont,
div.header-cont {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: white;
}

div.header-cont {
  color: white;
  margin-top: 260px;
  background: none;
}

div.about-cont,
div.contact-cont {
  width: 100%;
}

div.content {
  width: 1000px;
  margin: 0 auto;
  padding: 75px 0;
  border-bottom: 1px solid lightgray;
}

div.content h2 {
  font-size: 3em;
}

div.content h3 {
  font-size: 2em;
}

div.content p {
  font-size: 1.25em;
}

div.header-cont div.content h2,
div.header-cont div.content h3 {
  letter-spacing: 4px;
  text-transform: uppercase;
}

div.header-cont div.content h3 {
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1em;
  margin-top: 0;
}

div.header-cont div.content {
  border: none;
  padding: 0;
}

.content {
  text-align: center;
}

/*<><><><> Main Page Photos <><><><>*/

ul.inspo-left-col,
ul.inspo-right-col {
  display: inline-block;
}

ul.inspo-left-col,
ul.inspo-left-col img {
  max-width: 475px;
}

ul.inspo-right-col,
ul.inspo-right-col img {
  max-width: 520px;
}

ul.inspo-left-col,
ul.inspo-right-col li {
  float: left;
}

ul.inspo-right-col li:nth-child(3) {
  margin-left: 3px;
  width: calc((100% / 3) + 2px);
  overflow: hidden;
}

ul.inspo-left-col li,
ul.inspo-right-col li {
  position: relative;
  text-align: left;
}

ul.inspo-left-col li img,
ul.inspo-right-col li img {
  -webkit-filter: grayscale(0%);
  -oz-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

ul.inspo-left-col li:hover img,
ul.inspo-right-col li:hover img {
  opacity: .65;
  -webkit-filter: grayscale(100%);
}

h3.info {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  padding: 15px;
  opacity: 0;
  color: black;
  -oz-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  font-size: 1.5em;
  font-weight: 700;
}

ul.inspo-left-col li:hover h3,
ul.inspo-right-col li:hover h3 {
  z-index: 2;
  opacity: 1;
}

/*<><><><> Footer <><><><>*/
footer.contact-cont {
  width: 100%;
  height: 250px;
  padding-top: 25px;
  background-color: black;
  position: relative;
  bottom: 0;
  text-align: center;
}

footer.contact-cont ul li a,
footer.contact-cont span,
footer.contact-cont h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer.contact-cont h4 {
  border-bottom: 1px solid darkgray;
  width: 50%;
  padding-bottom: 15px;
  margin: 0 auto;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

footer.contact-cont ul li a {
  text-transform: none;
  -oz-transition: all .175s ease-in-out;
  -moz-transition: all .175s ease-in-out;
  -webkit-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out;
}

footer.contact-cont ul li {
  display: inline-block;
  margin-right: 50px;
}

footer.contact-cont ul li:last-child {
  margin-right: 0;
}

footer.contact-cont ul {
  margin: 55px 0;
}

footer.contact-cont h4 {
  text-transform: lowercase;
  margin-top: 0;
}

footer.contact-cont span {
  bottom: 10px;
  font-size: .5em;
}

footer.contact-cont ul li a:visited {
  color: white;
}

footer.contact-cont ul li a:hover {
  color: darkgray;
}

/*<><><><> Burger Button & Logo <><><><>*/
#hamburger-button,
a#logo-button {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  margin: 24px 24px 0 0;
  top: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
  background-color: white;
  -oz-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

a#logo-button {
  left: 0;
  margin-left: 24px;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
}

a#logo-button:hover {
  cursor: pointer;
}

a#logo-button h2 {
  margin: auto;
  font-size: 1.25em;
}

a#logo-button:visited {
  color: black;
}

#hamburger-button:hover {
  cursor: pointer;
}

#hamburger-button:hover :first-child {
  -oz-transform: translateY(6px) rotate(90deg);
  -moz-transform: translateY(6px) rotate(90deg);
  -webkit-transform: translateY(6px) rotate(90deg);
  transform: translateY(6px) rotate(90deg);
}

#hamburger-button:hover :last-child {
  -oz-transform: translateY(-6x) rotate(-90deg);
  -moz-transform: translateY(-6px) rotate(-90deg);
  -webkit-transform: translateY(-6px) rotate(-90deg);
  transform: translateY(-6px) rotate(-90deg);
}

#hamburger-button > span {
  margin: 4px 8px 0 8px;
  display: block;
  width: 24px;
  height: 2px;
  background-color: black;
  -oz-transition: all .175s ease-in-out;
  -moz-transition: all .175s ease-in-out;
  -webkit-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out;
}

#hamburger-button span:first-child {
  margin-top: 12px;
}

#hamburger-button.open :first-child {
  -oz-transform: translateX(13px) translateY(1px) rotate(45deg);
  -moz-transform: translateX(13px) translateY(1px) rotate(45deg);
  -webkit-transform: translateX(13px) translateY(1px) rotate(45deg);
  transform: translateX(13px) translateY(1px) rotate(45deg);
  width: 15px;
}

#hamburger-button.open :nth-child(2) {
  -oz-transform: translateX(1px);
  -moz-transform: translateX(1px);
  -webkit-transform: translateX(1px);
  transform: translateX(1px);
  width: 24px;
}

#hamburger-button.open :last-child {
  -oz-transform: translateX(13px) translateY(-1px) rotate(-45deg);
  -moz-transform: translateX(13px) translateY(-1px) rotate(-45deg);
  -webkit-transform: translateX(13px) translateY(-1px) rotate(-45deg);
  transform: translateX(13px) translateY(-1px) rotate(-45deg);
  width: 15px;
}

#hamburger-button.open > span {
  background-color: white;
}

#hamburger-button.open {
  background-color: black;
  border-left: 1px solid white;
}

#logo-button.open {
  background-color: black;
  border-right: 1px solid white;
  color: white !important;
}

/*<><><><><> MENU <><><><><>*/

#menu-wrapper {
  background-color: black;
  width: 0%;
  height: 1px;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 24px;
  opacity: 0;
  z-index: 2;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25 ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#menu-wrapper.open {
  width: calc(100% - 128px);
  margin: 24px 64px 0 64px;
  opacity: 1;
}

#menu-wrapper.height {
  height: 40px;
}

ul#menu {
  text-align: right;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
}

ul#menu li {
  font-style: normal;
  font-size: .75em;
  font-weight: 200;
  letter-spacing: 2px;
  position: relative;
  opacity: 0;
  display: inline-block;
  visibility: hidden;
  text-transform: uppercase;
  margin: 12px auto 0;
  color: white;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#menu-wrapper.open ul#menu li {
  visibility: visible;
  opacity: 1;
}

#menu-wrapper.open ul#menu {
  visibility: visible;
}

ul#menu li {
  margin-right: 50px;
  font-weight: 400;
  color: white;
}

ul#menu li:hover {
  cursor: pointer;
  color: darkgray;
}

/*<><><><><> Scroll top button <><><><><>*/
div#scroll-top {
  background-color: white;
  width: 100%;
  height: 108px;
  padding: 30px 0;
  text-align: center;
  position: relative;
}

div#scroll-top i {
  font-size: 3em;
  -oz-transition: all .125s ease-in-out;
  -moz-transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
  transition: all .125s ease-in-out;
}

div#scroll-top i:hover {
  cursor: pointer;
  color: darkgray;
  -webkit-animation: bounce .5s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(5px);
  }

  100% {
    -webkit-transform: translateY(0px);
  }
}

/*<><><><><> Video background <><><><><>*/
video#bgvid,
div.black-background {
  color: white;
  position: fixed;
  width: calc(100% - 138px);
  max-height: 650px;
  margin: 0 auto;
  background-color: black;
}

div.black-background {
  height: 425px;
  display: none;
}

/*<> Used to clear video height <>*/
div.empty-cont {
  position: relative;
  margin-top: 400px;
  background-color: white;
  width: 100%;
}

/*<><><><><> Media Queries <><><><><>*/
@media only screen and (max-width: 1200px) {
  div.content,
  img.photo,
  iframe {
    width: 800px;
  }

  iframe {
    height: 450px;
  }

  ul.inspo-left-col,
  ul.inspo-left-col img {
    max-width: 382px;
  }

  ul.inspo-right-col,
  ul.inspo-right-col img {
    max-width: 418px;
  }

  ul.inspo-right-col li:nth-child(2) img,
  ul.inspo-right-col li:nth-child(2) {
    margin-left: 1px;
    max-width: 270px;
  }

  ul.inspo-right-col li:nth-child(3) img,
  ul.inspo-right-col li:nth-child(3) {
    width: 144px;
  }

  div.header-cont {
    margin-top: 200px;
  }

  div.header-cont div.content h2 {
    font-size: 2.5em;
    letter-spacing: 2px;
  }

  div.empty-cont {
    margin-top: 375px;
  }
}

@media only screen and (max-width: 960px) {
  div.content,
  img.photo,
  iframe {
    width: 600px;
  }

  iframe {
    height: 337px;
  }

  ul.inspo-left-col,
  ul.inspo-left-col img {
    max-width: 286px;
  }

  ul.inspo-right-col,
  ul.inspo-right-col img {
    max-width: 314px;
  }

  ul.inspo-right-col li:nth-child(2) img,
  ul.inspo-right-col li:nth-child(2) {
    max-width: 200px;
  }

  ul.inspo-right-col li:nth-child(3) img,
  ul.inspo-right-col li:nth-child(3) {
    width: 106px;
  }

  div.header-cont {
    margin-top: 175px;
  }

  div.header-cont div.content h2 {
    font-size: 2em;
    letter-spacing: 2px;
  }

  div.empty-cont {
    margin-top: 300px;
  }
}

@media only screen and (max-width: 768px) {
  div.content,
  img.photo,
  iframe {
    width: 380px;
  }

  iframe {
    height: 214px;
  }

  ul.inspo-left-col,
  ul.inspo-left-col img {
    max-width: 181px;
  }

  ul.inspo-right-col,
  ul.inspo-right-col img {
    max-width: 199px;
  }

  ul.inspo-right-col li:nth-child(2) img,
  ul.inspo-right-col li:nth-child(2) {
    max-width: 127px;
  }

  ul.inspo-right-col li:nth-child(3) img,
  ul.inspo-right-col li:nth-child(3) {
    width: 68px;
  }

  video#bgvid {
    display: none;
  }

  div.black-background {
    display: block;
  }

  div.header-cont {
    margin-top: 150px;
  }

  div.header-cont div.content h2,
  div.header-cont div.content h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
  }

  div.header-cont div.content h3 {
    font-size: .85em;
  }

  div.empty-cont {
    margin-top: 200px;
  }

}

@media only screen and (max-width: 480px) {
  div.content,
  img.photo,
  iframe {
    width: 100%;
  }

  div.border {
    display: none;
  }

  ul.inspo-left-col,
  ul.inspo-left-col img {
    max-width: 100%;
  }

  ul.inspo-right-col,
  ul.inspo-right-col img {
    max-width: 100%;
  }

  ul.inspo-right-col li:nth-child(2) img,
  ul.inspo-right-col li:nth-child(2) {
    max-width: 100%;
  }

  ul.inspo-right-col li:nth-child(3) img,
  ul.inspo-right-col li:nth-child(3) {
    width: 100%;
  }

  div.app-cont {
    padding: 15px;
  }

  body {
    margin: 0;
  }

  a#logo-button,
  div#hamburger-button {
    margin: 15px 15px 0 0;
  }

  a#logo-button {
    margin-left: 15px;
    margin-right: 0;
  }

  #menu-wrapper {
    margin-top: 15px;
  }

  #menu-wrapper.open {
    width: calc(100% - 110px);
    margin: 15px 55px 0 55px;
  }

  div.black-background {
    height: 250px;
    width: calc(100% - 30px);
  }

  div.content {
    font-size: .65em;
  }

  iframe {
    height: 157px;
  }

  div.header-cont {
    margin-top: 100px;
  }

  div.header-cont div.content h2,
  div.header-cont div.content h3 {
    font-size: 1em;
    letter-spacing: 1px;
  }

  div.header-cont div.content h3 {
    font-size: .5em;
  }

  div.empty-cont {
    margin-top: 100px;
  }

  ul#menu li {
    margin-right: 15px;
    font-size: .65em;
  }

  footer.contact-cont ul li {
    display: block;
    margin: 10px 0 10px 0;
    font-size: .75em;
  }

  footer.contact-cont h4 {
    font-size: .75em;
  }

  footer.contact-cont span {
    font-size: 5px;
  }
}
