<div class="main-cont">
  <div class="portfolio-cont">
    <div class="content">
      <h3>Paper London Products</h3>
      <ul class="work">
        <li>
          <img class="photo-thumb" src="img/paper-london-resort15/thumbs/PAPER_01_035_thumb.jpg"></img>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-cont">
    <div class="content">
      <p>
        This collection was inspired by blahblbahblajbklajdl;afjiasdjfkdsjf;dsfadf......
      </p>
    </div>
  </div>
</div>
