<div class="main-cont">
  <div class="portfolio-cont">
    <div class="content">
      <h3>Paper London Resort 2015</h3>
      <ul class="work">
        <li>
          <img class="photo" src="/img/paper-london-resort15/website1.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paper-london-resort15/website2.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paper-london-resort15/website3.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paper-london-resort15/website4.jpg"></img>
        </li>
      </ul>
    </div>
  </div>
  <% include ../scroll-button.ejs %>
</div>
