<div class="main-cont">
  <div class="portfolio-cont">
    <div class="content">
      <h3>Spring Summer 2014</h3>
      <ul class="work">
        <li>
          <img class="photo" src="/img/paper-london-ss14/website1.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paper-london-ss14/website2.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paper-london-ss14/website3.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paper-london-ss14/website4.jpg"></img>
        </li>
        <li>
          <img class="photo" src="/img/paper-london-ss14/website5.jpg"></img>
        </li>
      </ul>
    </div>
  </div>
  <% include ../scroll-button.ejs %>
</div>
