<div class="main-cont">
  <div class="grid-cont">
    <div class="content">
      <h3>Paper London Spring / Summer 2014</h3>
      <div class="inspo-cont content">

        <ul class="work">
          <li>
            <img class="photo-thumb" src="img/paper-london-resort15/thumbs/PAPER_01_035_thumb.jpg"></img>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
